#mySlide2{
    float: left;
    margin-left: 16px;
}
#mySlide3{
    margin-left: 16px;
    float: left;
}
.teach{
    background-color: #ffffff;
    float: left;
    width: 376px;
   
    margin-right: 32px;
    height: 100%;
    border:1px solid #E5E9EF;
}
.work{
    background-color: #ffffff;
    float: left;
    width: 376px;
    margin-right: 32px;
    height: 100%;
    border:1px solid #E5E9EF;
}
.teach .back{
    display: none!important;
}
.teach .prev{
    display: none!important;
}
.inform{
    background-color: #ffffff;
    float: left;
     width: 376px;
     height: 412px;
     border:1px solid #E5E9EF;
 }
.work .back{
    display: none!important;
}
.work .prev{
    display: none!important;
}
#mySlide1 ul{
  display: none;
}
#mySlide2 li{
   width: 51px!important;
}
#mySlide3 li{
    width: 51px!important;
}
#mySlide2 ul{
   bottom: 40px!important;
}
#mySlide3 ul{
    bottom: 24px!important;
}
#mySlide2 p:hover{
   color: #D6000F!important;
   text-decoration: underline;
}
#mySlide2 p{
    font-size: 20px;
}
#mySlide3 p{
    font-size: 20px;
}
#mySlide3 p:hover{

   color: #D6000F!important;
   text-decoration: underline;
}
.main h1{
    font-weight: bold;
    font-size: 24px;
    color: #4D4D4D;
    float: left;
    margin:16px 0px 16px 16px;
}
.more
{
    color: #808080;
    display: block;
    float: right;
    margin:25px 16px 12px 0px;
    font-size: 16px;
}
.more:hover{
    text-decoration: underline;
}
.inform ul{
    margin-top: 10px;
}
.time{
     text-align: center;

    display: block;
    padding: 4PX;
    line-height: 25px;
    float: left;
    height: 50px;
    width: 50px;
    color: white;
    background-color:rgba(0,41,87,0.2);
}
.inform li{
   
    display: block;
    float: left;
    font-size: 17px;
    margin-left: 16px;
    background-repeat: no-repeat;
    background-position: 5px 17.5px;
    padding-left: 15px;
    line-height: 40px;
    width: 330px;
    padding: 3px 0px 3px 0px;
}
.inform li a{
    display: block;
    padding-top: 6px;
    font-size: 19px;
    color: #4D4D4D;
    padding-left: 68px;
    line-height: 25px;
}
.inform li:hover a{
    color: #002957;
}
.inform li:hover span{
    background-color: rgba(0,41,87,1);
}
.summaryBox{
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: 0px;
    background: -moz-linear-gradient(top, transparent 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top, transparent 0%,#000000 100%);
    background: -o-linear-gradient(top, transparent 0%,#000000 100%);
    background: -ms-linear-gradient(top, transparent 0%,#000000 100%);
    background: linear-gradient(to bottom, transparent 0%,#000000 100%);
}
.summaryBox h2{
    padding-top: 82px;
    padding-left: 32px;
    font-size: 24px;
    color: white;

}
.summaryBox p{
    padding-top: 14px;
    padding-left: 32px;
    font-size: 15px;
    color: white!important;

}
